.header {
    position: sticky;
    height: 150px;
    background:rgb(44, 44, 44);
    border-bottom: 1px solid rgb(131, 131, 131);
}

.header-content {
    position: relative;
    min-width: 1000px;
    width: 70%;
    margin: auto;
    height: 150px;
}

.logo-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline;
}

.logo-container img {
    height: 80px;
}

.logo {
    margin: 10px;
    display: inline;
    line-height: 2.5rem;
}

.account-info {
    display: inline;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.account-info ul {
    list-style: none;
}

.account-info a {
    font-size: 25px;
}

.account-info li {
    display: inline;
    margin: 10px;
}

.username {
    font-size: 25px;
    color: inherit;
    transition: 0.2s;
}

.username:hover {
    color: rgb(161, 161, 161);
    text-decoration: none;
    transition: 0.2;
}

.account-info img {
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}


.upload-icon {
    width: 60px;
}

.header-pfp {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(75, 75, 75);
}

.logout {
    margin-left: 30px;
}