* {
    margin: 0;
    padding: 0;
    color: rgb(218, 218, 218);
}

body {
    background: rgb(36, 36, 36);
}

.content {
    position: relative;
    padding: 0 40px 40px 40px;
    width: 70%;
    min-width: 700px;
    padding-bottom: 20px;
    margin: auto;
    background:rgb(27, 27, 27)
}

h2 {
    text-align: center;
    margin: 30px;
}

.footer {
    height: 125px;
    background:rgb(43, 43, 43);
    border-top: 1px solid rgb(131, 131, 131);
}

.error-text {
    margin: 20px;
    font-size: 20px;
    color: rgb(221, 18, 18);
    text-align: center;
}

.video-list {
    display: grid;
    margin: 40px 0;
    border: 1px solid rgb(131, 131, 131);
}

.video-preview {
    width: 20%;
    margin: 1%;
    border: 1px solid rgb(131, 131, 131);
    padding: 10px;
}

.video-preview a {
    font-size: 1.3em;
    color: inherit;
}

.video-preview a:hover {
    color:rgb(131, 131, 131);
    text-decoration: none;
    transition: 0.3s;
}

.thumbnail-container img {
    width: 100%;
}

.uploader-pfp {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

hr {
    border-top: 1px solid rgb(131, 131, 131);
}