.search-bar {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    background-color: rgb(39, 39, 39);
    border-bottom: 1px solid rgb(78, 78, 78);
    border-left: 1px solid rgb(78, 78, 78);
    border-right: 1px solid rgb(78, 78, 78);
    margin: -1px auto 0 auto;
    width: fit-content;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, 100%);  
    font-size: 1.2em;
}

.search-bar input {
    width: 300px;
    margin-right: 5px;
    background-color: rgb(44, 44, 44);
    padding: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(155, 155, 155);
    transition: 0.3s;
}

.search-bar input:focus {
    border: none;
    border: 1px solid rgb(201, 201, 201);
    width: 400px;
}

.search-bar button {
    background: rgb(44, 44, 44);
    width: 75px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 10px;
    outline: none;
    padding: 5px;
    transition: 0.3s;
}

.search-bar i {
    color: rgb(155, 155, 155);
    transition: 0.3s;
}

.search-bar button:hover {
    border-color: rgb(201, 201, 201);
}

.search-bar button:hover i {
    color: rgb(201, 201, 201);
}

@media screen and (max-width: 800px) {
	.search-bar {
        position: static;
        transform: none;
        width: 100%;
        border: none;
        margin-top: 10px;
    }  
}

@media screen and (max-width: 420px) {
    .search-bar button {
        margin-top: 10px;
    }

    .search-bar input:focus {
        width: 300px;
    }
    
}