.search-bar {
    position: absolute;
    margin: auto;
    width: fit-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);  
    border-radius: 10px;
    font-size: 1.2em;
}

.search-bar input {
    width: 300px;
    margin-right: 5px;
    background-color: rgb(44, 44, 44);
    padding: 5px;
    border: none;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(122, 122, 122);
    transition: 0.3s;
}

.search-bar input:focus {
    border: none;
    border: 1px solid rgb(184, 184, 184);
    width: 400px;
    transition: 0.3s;
}

.search-bar button {
    background: rgb(44, 44, 44);
    width: 75px;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 10px;
    outline: none;
    padding: 5px;
    transition: 0.3s;
}

.search-bar i {
    color: rgb(122, 122, 122);
    transition: 0.3s;
}

.search-bar button:hover {
    border-color: rgb(184, 184, 184);
}

.search-bar button:hover i {
    color: rgb(184, 184, 184);
}