.field input {
    max-width: 350px;
    width: 100%;
    margin: 16px 0;
    font-size: 1.2rem;
    background-color: rgb(29, 29, 29);
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(85, 85, 85);
    transition: 0.5s;
}

textarea {
    width: 100%;
    height: 200px;
    margin: 16px 0;
    font-size: 1.2rem;
    background-color: rgb(29, 29, 29);
    padding: 5px 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(85, 85, 85);
    transition: 0.5s;
}

.field input:focus {
    background-color: rgb(201, 201, 201);
    color: rgb(29, 29, 29);
}

.field input[type=submit] {
    width: auto;
    padding: 5px;
    font-size: 1.2em;
    font-weight: 400;
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    color: rgb(201, 201, 201);
    outline: none;
    transition: 0.5s;
}

.field input[type=submit]:hover {
    color: rgb(22, 22, 22);
    background-color: rgb(201, 201, 201);
}

.field input[type=file] {
    font-size: 1.2em;
    width: 100%;
    max-width: 500px;
    margin-right: 20px;
}

.field button {
    padding: 5px;
    margin-left: 20px;
    font-size: 1.3em;
    font-weight: 400;
    background-color: rgb(29, 29, 29);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    color: rgb(201, 201, 201);
    outline: none;
    transition: 0.5s;
}

.field button:hover {
    color: rgb(22, 22, 22);
    background-color: rgb(201, 201, 201);
}

h1 {
    text-align: center;
}

h3 {
    margin-top: 20px;
}

.profile, .channel {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.profile .left, .channel .right {
    width: 50%;
    min-width: 300px;
}

.profile .right, .channel .left {
    display: grid;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    width: 50%;
    min-width: 300px;
    border-left: 1px solid rgb(131, 131, 131);
}

.profile {
    margin-bottom: 100px;
}

.channel .right {
    padding-left: 40px;
}

.channel .right button {
    margin: 0;
}

.channel .left {
    border-left: none;
    border-right: 1px solid rgb(131, 131, 131);
}

.right img {
    width: 150px;
    height: 150px;
    margin: auto;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.left img {
    width: 70%;
    max-height: 400px;
    margin: auto;
    cursor: pointer;
    object-fit: cover;
}

.right h2 {
    margin-top: 10px;
    cursor: pointer;
}

p {
    margin: 0;
}

.description {
    word-wrap: break-word;
}

.pass {
    font-size: 1.3em;
}

@media screen and (max-width: 620px) {
    .profile .left, .channel .right {
        width: 100%;
        border: none;
        padding: 10px;
    }
    
    .profile .right, .channel .left {
        border: none;
        width: 100%;
        padding: 10px;
    }
}