h1 {
    text-align: center;
}

.upload-form {
    width: 90%;
    max-width: 900px;
    padding: 30px;
    margin:  30px auto;
    background: rgb(22, 22, 22);
    border-radius: 20px;
}

.upload-form * {
    display: block;
}

.upload-form input {
    margin: 20px 0;
    background-color: rgb(29, 29, 29);
    padding: 5px;
    border: none;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(85, 85, 85);
    transition: 0.3s;
}

textarea {
    width: 100%;
    margin: 20px 0;
    background-color: rgb(29, 29, 29);
    padding: 5px;
    border: none;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(85, 85, 85);
    transition: 0.3s;
}

.upload-form select {
    margin: 20px 0;
    background-color: rgb(29, 29, 29);
    padding: 5px;
    border: none;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgb(85, 85, 85);
    transition: 0.3s;
}

.upload-form input[type=email] {
    width: 300px;
}

.upload-form input:focus, textarea:focus, select:focus {
    border-color: rgb(184, 184, 184);
    transition: 0.3s;
}

.upload-form input[type=submit] {
    padding: 10px;
    font-size: 1.1em;
    float: right;
}

.upload-form input[type=submit]:hover {
    border-color: rgb(184, 184, 184);
    transition: 0.3s;
}

.pfp-preview img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.banner-preview img, .thumbnail-preview img {
    max-width: 80%;
    max-height: 250px;
}

.remove-button {
    padding: 10px 20px;
    font-size: 1.25em;
    display: block;
    margin: auto;
    font-weight: 400;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid rgb(206, 15, 15);
    border-radius: 5px;
    color: rgb(206, 15, 15);
    outline: none;
    transition: 0.3s;
}

.remove-button:hover {
    background-color: rgb(206, 15, 15);
    color: rgb(218, 218, 218);
    transition: 0.3s;
}